header {
    height: 60px;
    background-color: #004000;
    text-align: center;
    color: #00e500;
    font-size: 32px;
    line-height: 40px;
}

header small {
    display: block;
    font-size: 16px;
    line-height: 20px;
}

article {
    height: calc(100% - 80px);
}

#messages {
    height: calc(100% - 40px);
    padding: 0 calc((100% - 800px) / 2);
    background-color: #eeffee;
    overflow-y: scroll;
}

.tip {
    display: flex;
    justify-content: center;
}

.tip > div {
    background-color: rgba(80, 180, 80, .5);
    padding: 2px 8px;
    margin: 8px 0;
    border-radius: 5px;
    text-align: center;
    user-select: initial;
    cursor: initial;
}

.time {
    display: flex;
    justify-content: center;
}

.time > div {
    margin: 8px 0 0 0;
    opacity: .5;
    text-align: center;
    user-select: initial;
    cursor: initial;
}

.message {
    margin: 8px 0;
    display: flex;
    justify-content: flex-start;
}

.saved {
    flex-direction: row;
}

.sent {
    flex-direction: row-reverse;
}

.message > div {
    background-color: #004000;
    padding: 8px;
    color: #00e500;
    font-size: 18px;
    user-select: initial;
    cursor: initial;
    border-radius: 8px;
}

.message > img {
    width: 60px;
    height: 60px;
}

.message > .triangle {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 8px solid transparent;
    background-color: transparent;
    display: inline-block;
    position: relative;
    bottom: -10px;
    border-radius: 0;
}

.saved > .triangle {
    border-right-color: #004000;
}

.sent > .triangle {
    border-left-color: #004000;
}

#input {
    height: 40px;
    background-color: #007f00;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 650px;
    border: none;
    height: 30px;
    padding: 0 8px;
    margin: 0 4px;
    border-radius: 5px;
    outline: none;
}

button {
    width: 60px;
    border: none;
    height: 30px;
    margin: 0 4px;
    border-radius: 5px;
    outline: none;
    color: white;
    cursor: pointer;
}

button[type=submit] {
    background-color: #5cb85c;
}

button[type=submit]:hover {
    background-color: #449d44;
}

button[disabled], button[disabled]:hover {
    background-color: #CCC;
    cursor: default;
}

button[data-e=in] {
    background-color: #f0ad4e;
}

button[data-e=in]:hover {
    background-color: #ec971f;
}

button[data-e=out] {
    background-color: #d9534f;
}

button[data-e=out]:hover {
    background-color: #c9302c;
}

footer {
    height: 20px;
    background-color: #004000;
    color: #00e500;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}

footer a {
    color: #00e500;
}

#pinBottom {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #888;
    opacity: .5;
    bottom: 60px;
    left: calc(100% / 2 - 25px);
    z-index: 10;
    cursor: pointer;
}

#pinBottom:hover {
    opacity: .65;
}

#loginLayer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginLayer > div {
    text-align: center;
}

#loginLayer input {
    margin: 8px;
    width: 300px;
}
