body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    text-align: center;
}

label {
    width: 100px;
    display: inline-block;
}

input {
    margin: 8px;
    width: 300px;
}
