<!DOCTYPE html>
<html lang="zh-HanS">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width,height=device-height,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="author" content="金黎明,Liming Jin,jinliming2@gmail.com,TianJin China">
    <meta name="theme-color" content="#004000">
    <title>Realtime Chatroom</title>
    <link rel="bookmark" href="/favicon.ico">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/c/common.css">
    <link rel="stylesheet" href="/c/index.css">
</head>
<body>
<header class="banSelect">
    Realtime Chatroom
    <small>0 people online</small>
</header>
<article>
    <div id="messages" class="banSelect"></div>
    <div id="input">
        <textarea placeholder="Say something...(Use Ctrl+Enter to input an endline.)" disabled="disabled"></textarea>
        <button type="submit" disabled="disabled">Send</button>
        <button type="button" data-e="in">Login</button>
    </div>
</article>
<footer class="banSelect">
    Realtime Chatroom -
    <a href="mailto:jinliming2@gmail.com" target="_blank">Liming Jin &lt;jinliming2@gmail.com&gt;</a> -
    2016 -
    <a href="https://github.com/772807886/RealtimeChatroom" target="_blank">GitHub</a>
</footer>
<div id="pinBottom">
    <svg width="100%" height="100%" viewBox="0 0 50 50">
        <path d="M15 5H35V25H45L25 45L5 25H15Z"></path>
    </svg>
</div>
<script src="/j/index.js"></script>
</body>
</html>
