<!DOCTYPE html>
<html lang="zh-HanS">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width,height=device-height,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="author" content="金黎明,Liming Jin,jinliming2@gmail.com,TianJin China">
    <meta name="theme-color" content="#004000">
    <title>Register</title>
    <link rel="bookmark" href="/favicon.ico">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/c/common.css">
    <link rel="stylesheet" href="/c/register.css">
</head>
<body>
<form method="post">
    <div>
        <label for="username">Username:</label>
        <input id="username" name="username" type="text" placeholder="Username" required="required">
    </div>
    <div>
        <label for="password">Password:</label>
        <input id="password" name="password" type="password" placeholder="Password" required="required">
    </div>
    <div>
        <label for="name">Name:</label>
        <input id="name" name="name" type="text" placeholder="Name" required="required">
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>
</body>
</html>
